:root {
  --primary-color: #e5cec2;
  --secondary-color: #f7ede2;
  --text-color: #3a3a3a;
  --accent-color: #89a6b0;
}

body {
  margin: 0;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--text-color);
  color: var(--text-color);
}

header {
  padding-bottom: 3%;
  margin: auto;
  background-image: url(./assets/gradient-earth-tone-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

/* //////////// NAVBAR ///////////// */
nav {
  margin: auto;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}

nav > h1 {
  font-size: 2.5rem;
  padding: 0 2%;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  font-size: 1.25rem;
}

.nav-links * {
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  scroll-behavior: smooth;
}

.nav-links *:hover {
  text-decoration: underline;
}

/* ///////////// HERO //////////////// */
.hero {
  margin: 10vh 5vw 5vh 5vw;
}
.hero-h1 {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  font-size: 5em;
  margin: 0;
}

.sub-heading {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  font-size: 2.25rem;
  margin: 0;
  letter-spacing: 0.25rem;
}

.hero-text {
  padding: 1.5rem 0 2rem 0;
  max-width: 35vw;
}

.hero-btn {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
}

.hero-btn:hover {
  background-color: #2a525f;
}

/* /////////////////// ABOUT /////////////////// */
#about {
  width: 80vw;
  margin: 3% auto;
  background: #e5cec2;
  background: linear-gradient(
    173deg,
    rgba(229, 206, 194, 1) 0%,
    rgba(245, 250, 255, 1) 100%
  );
  border-radius: 8px;
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 2fr;
  grid-template-rows: repeat(5, 100px);
}

.about-title {
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  letter-spacing: 0.25rem;
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  text-align: center;
}

.y-line {
  padding: 1px;
  width: 1px;
  height: 325px;
  /* margin: auto;
  margin-top: 1rem; */
  background-color: var(--accent-color);
  grid-area: 2 / 1 / span 4 / 1;
  align-self: center;
  justify-self: center;
}

.about-sub {
  grid-area: 1 / 3 / 2 / span 2;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-weight: bold;
  align-self: end;
}

.fact-icon1,
.fact-icon2,
.fact-icon3 {
  align-self: center;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 1.5rem;
  color: #2a525f;
}

.fact-icon1 {
  grid-area: 2 / 2 / 3 / 3;
}

.fact-icon2 {
  grid-area: 3 / 2 / 4 / 3;
}

.fact-icon3 {
  grid-area: 4 / 2 / 5 / 3;
}

.fact-desc1,
.fact-desc2,
.fact-desc3 {
  margin: 0 2%;
  align-self: center;
}
.fact-desc1 {
  grid-area: 2 / 3 / 3 / span 2;
}

.fact-desc2 {
  grid-area: 3 / 3 / 4 / span 2;
}

.fact-desc3 {
  grid-area: 4 / 3 / 5 / span 2;
}

.x-top {
  grid-area: 1 / 2 / 2 / span 3;
  padding: 1px;
  height: 1px;
  background-color: var(--accent-color);
  margin: 0 50px 0 0;
  align-self: center;
}

.x-line {
  grid-area: 5 / 1 / 6 / span 3;
  padding: 1px;
  height: 1px;
  background-color: var(--accent-color);
  margin: 0 0 0 50px;
  align-self: center;
}

.resume {
  grid-area: 5 / 4 / 6 / 5;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  align-self: center;
  justify-self: center;
  background-color: var(--accent-color);
  border: none;
  color: white;
  border-radius: 18px;
}

.resume:hover {
  background-color: #2a525f;
}

/* ////////////////// PROJECTS /////////////////// */
#projects-container {
  color: white;
  padding: 8vh 0;
}

.proj-title {
  margin: 0;
  padding: 0px 0px 24px 10vw;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

.swiper {
  margin-top: 2vh;
  min-height: 75vh;
}

.swiper-wrapper {
  padding: 20px 0px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 24px 24px 12px 24px;
  border-radius: 18px;
  background-color: #1b1b1b42;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.7;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--secondary-color);
  padding: 16px;
  background-color: var(--accent-color);
  border-radius: 180px;
  width: 34px;
  height: 30px;
}

.swiper-button-next {
  padding: 16px 12px 16px 16px;
}

.swiper-button-prev {
  padding: 16px 16px 16px 12px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px; /* default is about 20px */
}

.swiper-pagination {
  padding: 18px 0;
  /* border: 2px solid purple; */
}

.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

.proj-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  display: block;
  border: 2px solid white;
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.top-line {
  display: flex;
  justify-content: space-between;
}

.top-line * {
  margin: 10px;
  padding: 4px 0 0 0;
}

.proj-role {
  font-style: italic;
}

.desc-title {
  margin: 16px 0 0 10px;
}

.proj-desc {
  font-size: 0.85rem;
  padding-top: 4px;
  margin: 10px;
}

.tech-title {
  margin: 10px;
}

.proj-tech {
  font-size: 0.85rem;
  margin: 10px;
}

.proj-links {
  display: flex;
  margin: 16px auto;
  justify-self: center;
}

.proj-links * {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  margin: auto 16px;
  justify-content: center;
  align-items: center;
}

/* /////////////////// SKILLS //////////////////// */
#skills {
  width: 80vw;
  margin: 3% auto;
  padding: 3% 0;
  background: #f5faff;
  background: linear-gradient(
    157deg,
    rgba(245, 250, 255, 1) 0%,
    rgba(217, 203, 199, 1) 39%,
    rgba(199, 175, 165, 1) 72%,
    rgba(136, 136, 140, 1) 100%
  );
  border-radius: 8px;
}

.skills-title {
  margin: 0;
  padding: 1rem 5vw;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

.skills-list-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.skills-left {
  max-width: 40%;
}

#tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  gap: 1rem;
}

.tech-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  text-align: center;
  background-color: rgba(70, 70, 77, 0.034);
  transition: background-color 0.5s ease-out;
  border-radius: 18px;
  padding-top: 1rem;
  padding-bottom: 0.8rem;
}

.tech-skill:hover {
  background-color: #89a6b0b0;
  transition: background-color 0.1s ease-in;
}

.skills-right {
  max-width: 40%;
}

#soft-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  gap: 1rem;
}

.soft-skill {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 150px;
  text-align: center;
  background-color: rgba(70, 70, 77, 0.034);
  transition: background-color 0.5s ease-out;
  border-radius: 18px;
  padding: 1rem 0.5rem;
}

.soft-skill:hover {
  background-color: #89a6b0b0;
  transition: background-color 0.1s ease-in;
}

/* ////////////////// CONTACT //////////////////// */
#contact {
  color: white;
  padding: 8vh 0;
}

.contact-title {
  margin: 0;
  padding: 0px 0px 24px 10vw;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  letter-spacing: 0.25rem;
}

.contact-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 60vw;
  margin: auto;
}

.contact-left {
  max-width: 30%;
  padding-top: 2rem;
  line-height: 2;
}

form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
}

label {
  padding: 12px 0 4px 0;
}
input {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

textarea {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}

#contact-btn {
  margin-top: 64px;
  min-width: 100px;
  align-self: center;
  padding: 12px 32px;
  border-radius: 18px;
  font-size: 1rem;
  border: none;
  font-family: "Inconsolata", monospace;
  font-weight: 600;
  letter-spacing: 0.25rem;
  background-color: var(--accent-color);
  color: white;
}

#contact-btn:hover {
  background-color: #2a525f;
  cursor: pointer;
}

/* //////////// FOOTER ////////// */
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
}

.sms-icons {
  display: flex;
  align-items: center;
  padding: 12px;
}

.sms-icons a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  padding-right: 24px;
}

.sms-icons a * {
  width: 100%;
  height: 100%;
}
