:root {
  --primary-color: #e5cec2;
  --secondary-color: #f7ede2;
  --text-color: #3a3a3a;
  --accent-color: #89a6b0;
}

body {
  margin: 0;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--text-color);
  color: var(--text-color);
}

header {
  padding-bottom: 3%;
  margin: auto;
  background-image: url(./assets/gradient-earth-tone-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* //////////// NAVBAR ///////////// */
nav {
  margin: auto;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}

nav > h1 {
  font-size: 2.5rem;
  padding: 0 2%;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  font-size: 1.25rem;
}

a {
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
}

/* ///////////// HERO //////////////// */
.hero {
  margin: 10vh 5vw 5vh 5vw;
}
.hero-h1 {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  font-size: 5em;
  margin: 0;
}

.sub-heading {
  font-family: "Inconsolata", monospace;
  font-weight: 200;
  font-size: 2.25rem;
  margin: 0;
  letter-spacing: 0.25rem;
}

.hero-text {
  padding: 1.5rem 0 2rem 0;
  max-width: 35vw;
}

.hero-btn {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
}

/* //////////// ABOUT //////////// */
#about {
  width: 65vw;
  margin: 3% auto;
  background: #e5cec2;
  background: linear-gradient(
    173deg,
    rgba(229, 206, 194, 1) 0%,
    rgba(245, 250, 255, 1) 100%
  );
  /* padding: 2rem; */
  border-radius: 8px;
  /* display: flex; try making this a grid */
  /* min-height: 400px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-template-rows: repeat(5, 100px);
}

.title {
  margin: 0;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  letter-spacing: 0.25rem;
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  text-align: center;
}

.y-line {
  padding: 1px;
  width: 1px;
  height: 325px;
  /* margin: auto;
  margin-top: 1rem; */
  background-color: var(--accent-color);
  grid-area: 2 / 1 / span 4 / 1;
  align-self: center;
  justify-self: center;
}

.about-sub {
  grid-area: 1 / 3 / 2 / span 2;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  align-self: end;
}

.fact-icon1,
.fact-icon2,
.fact-icon3 {
  align-self: center;
  justify-self: center;
}

.fact-icon1 {
  grid-area: 2 / 2 / 3 / 3;
}

.fact-icon2 {
  grid-area: 3 / 2 / 4 / 3;
}

.fact-icon3 {
  grid-area: 4 / 2 / 5 / 3;
}

.fact-desc1,
.fact-desc2,
.fact-desc3 {
  margin: 0 2%;
  align-self: center;
}
.fact-desc1 {
  grid-area: 2 / 3 / 3 / span 2;
}

.fact-desc2 {
  grid-area: 3 / 3 / 4 / span 2;
}

.fact-desc3 {
  grid-area: 4 / 3 / 5 / span 2;
}

.x-line {
  grid-area: 5 / 1 / 6 / span 3;
  padding: 1px;
  height: 1px;
  background-color: var(--accent-color);
  margin: 0 0 0 50px;
  align-self: center;
}

.resume {
  grid-area: 5 / 4 / 6 / 5;
  width: 50%;
  height: 60%;
  align-self: center;
  justify-self: center;
}

/* /////////// SKILLS ///////////// */
#skills {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 80vw;
  height: 30vh;
  padding: 3% 0;
  background-color: var(--secondary-color);
}

.left {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  justify-content: space-around;
  width: 45%;
}

.left * {
  border: 1px solid lightblue;
}

.left .heading {
  font-size: 2rem;
  font-weight: 600;
  padding: 4px;
}

.left .skills-desc {
  font-size: 2rem;
  flex-wrap: wrap;
}

.right {
  border: 2px solid green;
  width: 45%;
}

/* /////////// PROJECTS //////////// */
#projects {
  background-color: var(--secondary-color);
}

/* /////////// CONTACT ///////////// */
#contact {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
  margin: auto;
  padding: 6% 0;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
  height: 45vh;
}

.contact-right {
  border: 2px solid green;
}

.contact-right * {
  border: 1px solid lightskyblue;
}

/* //////////// FOOTER ////////// */
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--secondary-color);
}
