:root {
    --primary-color: #E4A788;
    --secondary-color: #F7EDE2;
    --text-color: #3A3A3A;
    --accent-color: #89B0AE;

} 

body {
    margin: 0;
    background-color: #E4A788;
    color: white;
}

/* //////////// NAVBAR ///////////// */

nav {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.512);
}

nav > h1 {
    padding-left: 2rem;
}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    
}

a {
    text-align: center;
    text-decoration: none;
    color: white;
}


/* ///////////// HERO //////////////// */

header {
    padding-top: 23vh;
    height: 55vh;
    background-image: url(./assets/close-up-modern-office-buildings-shanghai.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-text {
    text-align: center;
    padding: 2%;
    max-width: 85vw;
    max-height: 45vh;
    margin: auto;

}

.hero-text * {
    background-color: rgba(35, 48, 78, 0.512);
    padding: 2rem;
    max-width: 70%;
    margin: auto;
}

/* .self-img {
    border: 2px solid green;
    padding: 16px;
    width: 20vw;
}

.self-img > div {
    background-color: green;
    border: 2px solid green;
    width: 100%;
    height: 100%;
    justify-self: center;
} */

/* /////////// SKILLS ///////////// */
#skills {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80vw;
    height: 30vh;
    padding: 3% 0;
}

.left {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    justify-content: space-around;
    width: 45%;
}

.left * {
    border: 1px solid lightblue;
}

.left .heading {
    font-size: 2rem;
    font-weight: 600;
    padding: 4px;
}

.left .skills-desc {
    font-size: 2rem;
    flex-wrap: wrap;
}

.right {
    border: 2px solid green;
    width: 45%;
}

/* /////////// CONTACT ///////////// */
#contact {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin: auto;
    padding: 6% 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    height: 45vh;
}

.contact-right {
    border: 2px solid green;
}

.contact-right * {
    border: 1px solid lightskyblue;
}

/* //////////// FOOTER ////////// */
footer {
    text-align: center;
}