:root {
    --primary-color: #E4A788;
    --secondary-color: #F7EDE2;
    --text-color: #3A3A3A;
    --accent-color: #89B0AE;

} 

body {
    margin: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
}

/* //////////// NAVBAR ///////////// */

nav {
    margin: auto;
    margin-top: 20px;
    z-index: 2;
    display: flex;
    width: 80vw;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 6px;
}

nav > h1 {
    padding-left: 2rem;
}

.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    
}

a {
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
}


/* ///////////// HERO //////////////// */

header {
    padding-top: 10vh;
    padding-bottom: 3%;
    margin: auto;
    max-width: 80vw;
    
}

.hero-h1 {
    font-size: 6em;
    margin: 0;
}

.sub-heading {
    font-size: 3rem;
    margin: 0;
}

.hero-text {
    padding: 1.5rem 0 2rem 0;
    max-width: 35vw;
}

.hero-btn {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;

}

/* //////////// ABOUT //////////// */
#about {
    width: 80vw;
    margin: 3% auto;
    background: var(--secondary-color);
    padding: 2rem;
    border-radius: 8px;
}

.title {
    margin: 0;
}

.about-content {
    display: flex;
    gap: 12px;
    justify-content: space-evenly;

}

.temp-img {
    min-width: 200px;
    min-height: 250px;
    border-radius: 6px;
    background-color: var(--accent-color);
    margin-top: 1rem;
    margin-right: 2rem;
}

/* .self-img {
    border: 2px solid green;
    padding: 16px;
    width: 20vw;
}

.self-img > div {
    background-color: green;
    border: 2px solid green;
    width: 100%;
    height: 100%;
    justify-self: center;
} */

/* /////////// SKILLS ///////////// */
/* #skills {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80vw;
    height: 30vh;
    padding: 3% 0;
}

.left {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
    justify-content: space-around;
    width: 45%;
}

.left * {
    border: 1px solid lightblue;
}

.left .heading {
    font-size: 2rem;
    font-weight: 600;
    padding: 4px;
}

.left .skills-desc {
    font-size: 2rem;
    flex-wrap: wrap;
}

.right {
    border: 2px solid green;
    width: 45%;
} */

/* /////////// CONTACT ///////////// */
#contact {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin: auto;
    padding: 6% 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    height: 45vh;
}

.contact-right {
    border: 2px solid green;
}

.contact-right * {
    border: 1px solid lightskyblue;
}

/* //////////// FOOTER ////////// */
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}